<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Search Book Result page!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

       <table>
       <tr>
            <th>ISBN #</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>Publisher Name</th>
            <th>Price</th>
       </tr>
       <tr th:each="book : ${bookList}">
	        <td th:text="${book.getIsbn()}">1</td>
	        <td th:text="${book.getTitle()}">Product Name ...</td>
	        <td th:text="${book.getAuthor()}">Author ...</td>
	        <td th:text="${book.getPublishedDate()}">PublishedDate...</td>
	        <td th:text="${book.getPublisherName()}">PublisherName ...</td>
	        <td th:text="${book.getPrice()}">Price ...</td>
	       	<td>
			    <a th:href="@{'/updateBookForm/'+${book.getIsbn()}}">
			        <span>Update</span>
			    </a>
			</td>
	        <td>
			    <a th:href="@{'/deleteBookResultView/'+${book.getIsbn()}}">
			        <span>Delete</span>
			    </a>
			</td>
			<td>
			    <a th:href="@{'/viewBookDetail/'+${book.getIsbn()}}">
			        <span>View</span>
			    </a>
			</td>
    	</tr>
    	</table>
    	<p>Click <a th:href="@{/bookListing}">here</a> to go back to book listing</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>